{% extends "auth_base.html" %}

{% block title %}Sign in{% endblock %}

{% block card %}
<div class="flex flex-col gap-1">
    <h1 class="text-title-2 m-0">Sign in</h1>
    <p class="m-0 text-muted">Use the account you set up on this bridge.</p>
</div>

{% include 'partials/_form_error.html' %}

<form method="POST" action="/login" class="flex flex-col gap-4">
    <div>
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" name="username" required autofocus autocomplete="username" class="form-input">
    </div>
    <div>
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" name="password" required autocomplete="current-password" class="form-input">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
</form>
{% endblock %}
